.LoginScreen {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.NumPad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.NumPad button {
  height: 80px;
  width: 100px;
  font-weight: bolder;
  font-size: 20px;
}
